h1 {
    color: slateblue;
}

h2 {
    color: red;
}

ul {
    color: green;
    list-style: none;
    display: flex;
}

p {
    color: green;
}

footer {
    color: royalblue;
}

.firstcard {
    color: blue;
}

.secondcard {
    color: orange;
}